<div id="header"></div>

<div class="bg-dark text-white">

    <div class="d-flex flex-row mu-5">

        <div class="flex-collumn justify-content-left mx-4">
            <div class="text-left mx-4 mt-5 bold">
            <h1>Théo Cartegnie - The dood behind the project</h1>
            </div>
            <div class="d-flex flex-row">
                <img src="../images/PP.JPG" alt="Profil pic" class="md-4 rounded-5 g-5" width="350" height="auto">
                <div class="flex-collumn mx-4">
                    <p><b>Linkedin :<a href="https://www.linkedin.com/in/th%C3%A9o-cartegnie/"> Théo Cartegnie </a></b>
                    </p>
                    <p><b>CV :</b></p>
                    <p><b>Itch.io :<a href="https://soraksis.itch.io/"> Soraksis </a></b></p>
                    <p><b>Instragram :</b></p>
                </div>
            </div>
        </div>




    </div>



    <div class="text-left mx-4 mt-4 bold flex-row">

        <h1>Game dev philosophy</h1>
        <h3 class="width:25% height:auto">
            At super game factory, we not only make games. We aslo tell stories.
            <br>
            <br>
            Fascinated by the surrealist univers, and the way it reflect people feelings,
            we deside to craft virtual worlds to express feeling, ideas and stories through games.
            <br>
            <br>
            The interactive side of our game is the core of the experience, we try to think our game mechanics
            in a way of coerency with the story we want to tell.
            <br>
            <br>
            We want to tell stuff by questioning the player on what he is currently playing, and what does it mean.
        </h3>
    </div>


</div>





<div id="footer"></div>

<script>
    fetch("../templates/footer.html").then(r => r.text()).then(f => {
        document.getElementById("footer").innerHTML = f;
    });
</script>


<script>
    fetch("../templates/header.html").then(r => r.text()).then(f => {
        document.getElementById("header").innerHTML = f;
    });
</script>